{% extends 'base.html' %}
{% block scripts %}
<html>
	<head>
		<link type="text/css" href="/static/estilo.css" rel="stylesheet"/>
		<title>Dados do Aluno</title>
	</head>
{% endblock %}
{% block conteudo %}	
	<body>
		<center><strong>Meus Dados</strong></center></br>
		<div id="navbar" class="nav-collapse" aria-expanded="false">
			<ul class="dropdown-menu" role="menu">
				<menu><a href="areaAluno.html">Home</a></menu>
				<menu><a href="dadosAlunos.html">Dados Pessoais</a></menu>
				<menu><a href="notasaluno.html">Notas</a></menu>
				<menu><a href="">Frequência</a></menu>
				<menu><a href="">Horários</a></menu>
				<menu><a href="contatoProf.html">Contato dos Professores</a></menu>
				<menu><a href="">Fale Conosco</a></menu
					
			</ul>
		</div>
		</br>
		</br>
	</body>
</html>
{% endblock %}